.chat-container{
  align-items: center;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 900px;
  margin: 0;
}

.chat-title{
  background: lightgray;
  color: black;
  padding-left: 6vh;
}

.chat-messages{
  color: black;
}

.chat-input-message{
  background: lightskyblue;
  display: flex;
  height: fit-content;
  justify-content: end;
}

.chat-text{
  border-color: transparent;
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
  width: 80%;
  outline: none;
}

.chat-text:focus{
  outline: black;
}

.chat-send{
  width: 5%;
  margin-left: 6vh;
  margin-right: 6vh;
  display: flex;
  align-items: center;
  align-content: center;
}

.chat-send:hover{
  filter: drop-shadow(0px 0px 8px rgba(0, 123, 255, 1));
}

@keyframes Changesize {
  0%{
      transform: scale(1);
  }
  50%{
      transform: scale(1,1);
  }
  100%{
      transform: scale(1);
  }
}
